<h3>All Structures</h3>

{{markdown-to-html markdown='#Markdown is cool [link](http://emberjs.com)'}}

<ul>
  {{#each structure in model}}
    <li>{{link-to structure.description 'structures.show' structure}}</li>
  {{/each}}
</ul>
